{% extends "layout.html" %}

{% block content %}
    <main class="content">
        <section class="product">
            <div class="container">
                <div class="product__layout">
                    <div class="product__col"></div>
                    <div class="product__col product__col--main">
                        <div class="product__title">
                            <h1>Пентхаус с террасой в ЖК «Трилогия», 352 м² на 11 этаже</h1>
                        </div>
                    </div>
                </div>

                <div class="product__layout">
                    <div class="product__col">
                        <div class="product__info" data-product-tabs>
                            <ul class="product__info__tabs">
                                <li><a href="#product-tab1">Продаж</a></li>
                                <li><a href="#product-tab2">Аренда</a></li>
                            </ul>

                            <div id="product-tab1" class="product__info__content">
                                <p class="product__info__id">Лот №6618</p>
                                <p class="product__info__price">Цiна об'экту:<span>159 000 000 грн.</span></p>
                                <ul class="product__info__options">
                                    <li><span>Под отделку</span><span>Да</span></li>
                                    <li><span>Площадь</span><span>352м<sup>2</sup></span></li>
                                    <li><span>Этаж</span><span>11</span></li>
                                    <li><span>Парковка</span><span>Есть</span></li>
                                    <li><span>Район</span><span>Пресненский</span></li>
                                    <li><span>Продажа</span><span>Доступен</span></li>
                                </ul>
                                <p class="product__info__address">ул. Трехгорный Вал, 14</p>
                                <a href="#" class="button button--s1 button--t1">Назначить просмотр</a>
                            </div>

                            <div id="product-tab2">
                                Arenda
                            </div>
                        </div>
                    </div>

                    <div class="product__col product__col--main">
                        <div class="product__slider" data-product-slider>
                            <div><img src="/images/product-detail_img.jpg" alt="Product"></div>
                            <div><img src="/images/product-detail_img2.jpg" alt="Product"></div>
                            <div><img src="/images/product-detail_img2.jpg" alt="Product"></div>
                            <div><img src="/images/product-detail_img2.jpg" alt="Product"></div>
                            <div><img src="/images/product-detail_img2.jpg" alt="Product"></div>
                            <div><img src="/images/product-detail_img2.jpg" alt="Product"></div>
                            <div><img src="/images/product-detail_img2.jpg" alt="Product"></div>
                            <div><img src="/images/product-detail_img2.jpg" alt="Product"></div>
                        </div>

                        <div class="product__slider__nav" data-product-slider-nav>
                            <div><img src="/images/product-detail_img.jpg" alt="Product"></div>
                            <div><img src="/images/product-detail_img2.jpg" alt="Product"></div>
                            <div><img src="/images/product-detail_img2.jpg" alt="Product"></div>
                            <div><img src="/images/product-detail_img2.jpg" alt="Product"></div>
                            <div><img src="/images/product-detail_img2.jpg" alt="Product"></div>
                            <div><img src="/images/product-detail_img2.jpg" alt="Product"></div>
                            <div><img src="/images/product-detail_img2.jpg" alt="Product"></div>
                            <div><img src="/images/product-detail_img2.jpg" alt="Product"></div>
                        </div>

                        <div class="product__descr">
                            <h2 class="product__descr__title">Описание пентхауса</h2>

                            <div class="product__descr__text">
                                <p>Жилой комплекс «Трилогия» в шаговой доступности от станции метро 1905 года и в десяти минутах ходьбы до Краснопресненской набережной. </p>
                                <p>Двухуровневый пентхаус, со свободной планировкой и без отделки, общей площадью 352 м² и возможность присоединения открытой террасы Площадь 1-го уровня ― 209 м² Площадь 2-го уровня ― 143 м²</p>
                                <p>Панорамное остекление с высотой потолков — 6,4 метров. Из окон пентхауса открываются потрясающие виды на гостиницу Украина, Москва-Сити, набережную Москва-реки.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}